@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollbar-primary: #000;
    --scrollbar-secondary: #111;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-secondary) var(--scrollbar-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-secondary);
    border-radius: 14px;
    border: 3px solid var(--scrollbar-primary);
}